body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}

header {
    background-color: #6200ea; /* Roxo */
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    color: palevioletred;
    text-align: center;
    padding: 10px;
    margin-top: 600px;
}